---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Histoire from '../components/Histoire.astro';
import Experiences from '../components/Experiences.astro';
import Offers from '../components/Offers.astro';
import Suites from '../components/Suites.astro';
import Explore from '../components/Explore.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Renaissance Tlemcen | L'Art de l'Exception">
    <Header />
    <main>
        <Hero />
        <Histoire />
        <Experiences />
        <Offers />
        <Suites />
        <Explore />
        <Contact />
    </main>
    <Footer />
</Layout>
