---
---
<section id="explore">
    <h2 class="section-title animate-on-scroll">Cité de l'Art & de l'Histoire</h2>
    <div class="explore-grid">
        <div class="explore-item animate-on-scroll zoom-in">
            <img src="/images/Mansourah.webp" alt="Mansourah" loading="lazy">
            <div class="explore-overlay">
                <h3>Mansourah</h3>
            </div>
        </div>
        <div class="explore-item animate-on-scroll zoom-in" style="transition-delay: 0.2s">
            <img src="/images/palais.webp" alt="Palais El mechouar" loading="lazy">
            <div class="explore-overlay">
                <h3>Palais El mechouar</h3>
            </div>
        </div>
        <div class="explore-item animate-on-scroll zoom-in" style="transition-delay: 0.4s">
            <img src="/images/centre_etudes_andalouses.webp" alt="Centre d'études andalouses" loading="lazy">
            <div class="explore-overlay">
                <h3>Centre d'études andalouses</h3>
            </div>
        </div>
    </div>
</section>